<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./login.css">
    <style media="screen">
      input{
        margin:2% 0;
      }
    </style>
  </head>
  <body>
    <div class="main-body">
      <div class="container">
        <div class="container_form">
          <h2 style="margin-bottom : 30px;">Sign In</h2>
        <form class="" action="/login" method="post">

        <div class="username">
          <label for="username">Username :</label>
          <input type="text" name="username" id="username" value="">
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="">
        </div>
        <button type="submit" name="button" class="btn btn-primary"> Submit</button>
      </form>
    </div>
      </div>
    </div>
  </body>
</html>
